<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- 타이틀명 적으면 자동으로 (example | Finco)로 설정되게 해뒀음. example은 원하는거 적으면 됨 -->
    <title>example</title>
    <th:block layout:fragment="extraHead">
        <!-- 넣고싶은 CSS 필요하면 여기에 넣으셈 -->

        <!-- 넣고싶은 CSS 필요하면 여기에 넣으셈 -->
    </th:block>
</head>
<body>

<!-- axios 설정 cdn, 필요없으면 지우셈-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<main layout:fragment="content">
    <!-- 여기에 개발 내용 들어가야함!!! -->
    <!-- 여기에 개발 내용 들어가야함!!! -->


    <!-- 여기에 개발 내용 들어가야함!!! -->
    <!-- 여기에 개발 내용 들어가야함!!! -->
</main>

<th:block layout:fragment="extraScripts">
    <!-- 넣고싶은 JS 필요하면 여기에 넣으셈 -->

    <!-- 넣고싶은 JS 필요하면 여기에 넣으셈 -->
</th:block>
</body>
</html>


