<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.finco.user.users.mapper.UserMapper">
    <update id="resetFailedLoginCountByUserId">
        UPDATE finco_user
        SET failed_login_count = 0
        WHERE user_id = #{userId}
            AND deleted_at IS NULL
    </update>
    <update id="increaseFailedLoginAndLockIfNeeded">
        UPDATE finco_user
        SET failed_login_count = failed_login_count + 1,
        status = CASE
                    WHEN(failed_login_count + 1) >= #{threshold} THEN 'LOCKED'
                    ELSE status
        END
        WHERE email_hmac = #{emailHmac}
        AND deleted_at IS NULL
        AND status = 'ACTIVE'
    </update>

    <!-- email 컬럼은 BYTEA(암호문).
         '중복 체크'를 하려면 여기서 넘어오는 #{email}도 반드시 같은 방식으로 암호화된 byte[]여야 함 -->
    <select id="existsByEmailHmac" resultType="int">
        SELECT COUNT(1)
        FROM finco_user
        WHERE email_hmac = #{emailHmac}
          AND deleted_at IS NULL
    </select>

    <!-- phone_number도 동일 -->
    <select id="existsByPhoneHmac" resultType="int">
        SELECT COUNT(1)
        FROM finco_user
        WHERE phone_hmac = #{phoneNumberHmac}
          AND deleted_at IS NULL
    </select>
    <select id="findLoginUserByEmailHmac" resultType="com.study.finco.user.users.model.dto.LoginUserRow">
        SELECT user_id, user_name,password_hash, role, status, failed_login_count
        FROM finco_user
        WHERE email_hmac = #{emailHmac}
          AND deleted_at IS NULL
        Limit 1
    </select>


    <insert id="insertUser">
        INSERT INTO finco_user (
            user_id, user_name,
            email_enc, email_hmac,
            phone_enc, phone_hmac,
            password_hash, status, failed_login_count,
            create_date, role
        ) VALUES (
         #{userId}, #{userName},
         #{emailEnc}, #{emailHmac},
         #{phoneEnc}, #{phoneHmac},
         #{passwordHash}, 'ACTIVE', 0,
         NOW(), 'USER'
         )
    </insert>

</mapper>
